.center-items {
    justify-content: center;
}


.layout-transparent iframe {
    width: 100%;
    height: auto;
    position: absolute;
}
.layout-transparent a {
    text-decoration: none;
    color: #65C1FC;
    font-weight: bold;
}
.layout-transparent {
    background-color: #65C1FC;
}


.card-greeting.mdl-card {
    background-color: #EEF9FF;
    width: 100%;
    padding-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.card-greeting > .mdl-card__title {
    color: #65C1FC;
    width: auto;
    text-align: center;
    margin: 1rem;
    margin-bottom: 0rem;
}
.card-greeting > .mdl-card__title > .mdl-card__title-text {
    margin: auto;
    padding-top: 2.5rem;
    text-align: center;
    font-size: 96px;
    font-size: 10vh;
    font-weight: bold;
}
.card-greeting > .mdl-card__supporting-text {
    margin: auto;
    text-align: center;
    font-size: 32px;
    font-size: 2vh;
    font-weight: bold;
    margin-top: 0rem;
}
.card-greeting > .mdl-card__menu {
    color: #fff;
}


.card-content.mdl-card {
    width: 460px;
    height: auto;
    float: left;
    margin: 2rem;
    position: relative;
    background-color: #EEF9FF;
}
.card-content > .mdl-card__title > .mdl-card__title-text {
    color: #6C7A89;
    font-weight: bold;
}


.mdl-tabs > .mdl-tabs__tab-bar {
    background-color: #EEF9FF;
}
